В этом задании вы сможете немного расслабиться после реализации случайного леса и градиентного бустинга по мотивам материалов прошлой недели. Все, что нужно будет делать — запускать методы из sklearn. Вам предлагается выяснить, какое распределение лучше использовать в наивном байесовском классификаторе в зависимости от вида признаков.

Загрузите датасеты digits и breast_cancer из sklearn.datasets. Выведите несколько строчек из обучающих выборок и посмотрите на признаки. С помощью sklearn.cross_validation.cross_val_score c настройками по умолчанию и вызова метода mean() у возвращаемого этой функцией numpy.ndarray, сравните качество работы наивных байесовских классификаторов на этих двух датасетах. Для сравнения предлагается использовать BernoulliNB, MultinomialNB и GaussianNB. Насколько полученные результаты согласуются с рекомендациями из лекций?

Два датасета, конечно, еще не повод делать далеко идущие выводы, но при желании вы можете продолжить исследование на других выборках (например, из UCI репозитория).

Для сдачи задания, ответьте на приведенные ниже вопросы.

Вопрос 1

Каким получилось максимальное качество классификации на датасете breast_cancer?

Вопрос 2

Каким получилось максимальное качес
тво классификации на датасете digits?

Вопрос 3

Выберите верные утверждения и запишите их номера через пробел (в порядке возрастания номера):

1) На вещественных признаках лучше всего сработал наивный байесовский классификатор с распределением Бернулли

2) На вещественных признаках лучше всего сработал наивный байесовский классификатор с мультиномиальным распределением

3) Мультиномиальное распределение лучше показало себя на выборке с целыми неотрицательными значениями признаков

4) На вещественных признаках лучше всего сработало нормальное распределение

In [43]:
def write_answer(answer,name):
    filename=name+".txt"
    with open(filename, "w") as fout:
        fout.write(str(answer))

In [51]:
write_answer(qlt_bc_GaussianNB.mean(),"a1")

In [52]:
write_answer(qlt_d_MultinomialNB.mean(),"a2")

In [55]:
with open("a3.txt", "w") as fout:
        fout.write(str(3) + " "+str(4))

In [2]:
from sklearn.datasets import load_digits,load_breast_cancer
import numpy as np
import pandas as pd

In [3]:
data_digits,target_digits=load_digits(return_X_y=True)
data_bc,target_bc=load_breast_cancer(return_X_y=True)

In [54]:
data_digits[:,0]

array([0., 0., 0., ..., 0., 0., 0.])

In [32]:
digits=pd.DataFrame(load_digits().data)
digits.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [21]:
yf=pd.DataFrame(target_digits)
yf.head()

   0
0  0
1  1
2  2
3  3
4  4

In [33]:
breasts=pd.DataFrame(load_breast_cancer().data)
breasts.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [34]:
yf=pd.DataFrame(target_bc)
yf.head()

   0
0  0
1  0
2  0
3  0
4  0

In [36]:
from sklearn.model_selection import cross_val_score
import sklearn.naive_bayes as nb

In [44]:
#digits
qlt_d_bernoulli=cross_val_score(nb.BernoulliNB(),data_digits,target_digits)
print(qlt_d_bernoulli.mean())

0.8258236507780582

C:\Users\julii\Anaconda3_1\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [45]:
qlt_d_MultinomialNB=cross_val_score(nb.MultinomialNB(),data_digits,target_digits)
print(qlt_d_MultinomialNB.mean())

0.8708771489735053

C:\Users\julii\Anaconda3_1\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [46]:
qlt_d_GaussianNB=cross_val_score(nb.GaussianNB(),data_digits,target_digits)
print(qlt_d_GaussianNB.mean())

0.8186003803550138

C:\Users\julii\Anaconda3_1\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [47]:
#breast_cancer
qlt_bc_bernoulli=cross_val_score(nb.BernoulliNB(),data_bc,target_bc)
print(qlt_bc_bernoulli.mean())

0.6274204028589994

C:\Users\julii\Anaconda3_1\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [48]:
qlt_bc_MultinomialNB=cross_val_score(nb.MultinomialNB(),data_bc,target_bc)
print(qlt_bc_MultinomialNB.mean())

0.8945790401930752

C:\Users\julii\Anaconda3_1\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [49]:
qlt_bc_GaussianNB=cross_val_score(nb.GaussianNB(),data_bc,target_bc)
print(qlt_bc_GaussianNB.mean())

0.9367492806089297

C:\Users\julii\Anaconda3_1\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)