1)Using the data dictionary, check how many passengers in the sample paid for their ride with cash.


2)Build a 99% confidence interval for the proportion of cash payers. What is its' lower boundary?


3)Use the same sample to estimate the average trip distance in miles. Provide the answer with at least two digits after decimal.


4)What is the standard deviation of the estimator from the previous question? Provide the answer with at least three digits after decimal.


5)Calculate 95% confidence interval for the mean trip distance. What is the upper boundary? Provide the answer with at least two digits after decimal.

In [2]:
import pandas as pd
import numpy as np

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [8]:
sample10000 = pd.read_csv(r'C:\Users\zzz\Documents\GitHub\coursera\big data essentials\sample10000.csv', parse_dates=[1,2])

In [9]:
sample10000.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30

In [42]:
sample10000.payment_type.value_counts()

1    6397
2    3543
3      48
4      12
Name: payment_type, dtype: int64

In [16]:
paidWcash=sample10000.payment_type==2

In [17]:
sum(paidWcash)

3543

In [18]:
from statsmodels.stats.proportion import proportion_confint
proportion_confint(sum(paidWcash),len(paidWcash),alpha=0.01)

(0.34197979174644566, 0.36662020825355435)

In [39]:
sample10000['trip_distance'].mean()

2.8812639999999945

In [37]:
s = sample10000['trip_distance'].std(ddof=1) / np.sqrt(len(sample10000['trip_distance']))

In [34]:
from scipy.stats import sem, t
from scipy import mean
confidence = 0.95

n = len(sample10000['trip_distance'])
m = sample10000['trip_distance'].mean()
std_err = m/np.sqrt(n)
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

In [41]:
from statsmodels.stats.weightstats import _tconfint_generic
_tconfint_generic(sample10000['trip_distance'].mean(), 
                  s, 
                  len(sample10000['trip_distance']) - 1, 
                  0.05, 'two-sided')

(2.8110118487985924, 2.9515161512013965)